@import url(https://fonts.google.com/specimen/Kumbh+Sans);
body{
    background-image: url(../images/bg-pattern-bottom.svg);
    background-color: hsl(185, 75%, 39%);
    background-size: 50%;
    background-repeat: space;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 18px;
}
.div_contenedor{
    background: crimson;
    height: 100vh;
}
#profile-image{
    border-radius: 50%;
    border-color: white;
    border-width: 5px;
    border-style: solid;
    width: 100px;       
    height: 100px;
    margin: 0 auto;
}
#cont-imgprofile{
    display: flex;
    position: absolute;
    justify-content: center;
    bottom: 50%;
    right: 34%;
}
#card{
    width: 350px;       
    height: 380px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -175px;
    border-radius: 6%;
    background-color: white;
}
#topcard{
align-self: stretch;
margin: 0px;

}
#imgtopcard{
    border-radius: 6% 6% 0 0;
}
#info{
   display:flex;
   justify-content: space-between;
   text-align: center;
    padding: 22px 33px;
    border-top: #a7a7a7 1px solid;
    margin-top: 15px;
}

#p1{
font-size: 18px;
font-weight: 700;
display: inline;
margin: 0;
}
#p2{
    font-size: 16px;
font-weight: 400;
display: inline;
margin: 0;
color: hsl(0, 0%, 59%);

}
#center{
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 39%;
    text-align: center;
    margin-top: 67px;
}
#center1{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 35%;
    text-align: center;
}
